*{
    margin: 10px 0;
    padding: 0;
}
#page_container{
    max-width: 1000px;
    margin: auto;
}
h1, h4{
    text-align: center;
    color: rgb(8, 14, 184);
}
span{
    color: black;
}

h2{
    cursor: pointer;
}
button{
    padding: 5px 10px;
}

hr{
    margin: 20px;
}
div{
    text-align: center;
}

/* 1. AddClass to element */
.red{
    background-color: red;
}
.hideDiv{
    display: none;
}

/* 2. Slidetoggle */
#slideToggle img{
    width: 350px;
    height: auto;
    margin: 0 auto;
    display: none;
}

.hideBtn{
    display: none;
}

/* 3. Append and Remove */
#append{
    display: none;
}

#append ul li{
    list-style: none;
}

/* 4. fadeIn and fadeOut */
#fadeDiv img{
    width: 350px;
    height: auto;
    margin: 0 auto;
    display: none;
}


/* 5. Before */


/* 6. atr() */



/* 7. val()  */
